version: '3.6'

services:
  server:
    build:
      context: .
      dockerfile: ./Dockerfile
    networks:
      - net
    volumes:
      - './logs:/var/log/ssh_management'
  redis:
    image: 'redis:6-alpine'
    networks:
      - net
  mysql:
    image: 'mariadb:10.7.1-focal'
    ports:
      - '3306:3306'
    networks:
      - net
    environment:
      MARIADB_ROOT_PASSWORD: password
      MARIADB_DATABASE: ssh_management
      MARIADB_USER: server
      MARIADB_PASSWORD: server
    volumes:
      - mysql:/var/lib/mysql
networks:
  net:
    driver: bridge
    name: ssh_server_net
volumes:
  mysql:
