version: '3.6'

services:
  client:
    image: malusevd99/ssh-management:client-v0.2.1
    ports:
      - '9999:9999'
    environment:
      MASTER_SERVER: 'http://server:8080'
      SERVER_NAME: 'test_client'
      SERVER_GROUP: 'test_group'
    networks:
      - net
    volumes:
      - ./logs/client:/var/log/ssh_management
  server:
    build:
      context: .
      dockerfile: ./docker/server/Dockerfile
    networks:
      - net
    restart: unless-stopped
    ports:
      - '8080:8080'
    depends_on:
      - mysql
      - redis
    volumes:
      - './logs:/var/log/ssh_management'
      - './ssh_management.example.yml:/etc/ssh_management/ssh_management.yml'
  # queue:
  #   build:
  #     context: .
  #     dockerfile: ./docker/queue/Dockerfile
  #   networks:
  #     - net
  #   restart: unless-stopped
  #   depends_on:
  #     - server
  #     - mysql
  #     - redis
  #   volumes:
  #     - './logs:/var/log/ssh_management'
  #     - './ssh_management.example.yml:/etc/ssh_management/ssh_management.yml'
  redis:
    image: 'redis:6-alpine'
    networks:
      - net
    restart: unless-stopped
    ports:
      - '6379:6379'
  mysql:
    image: 'mariadb:10.7.1-focal'
    ports:
      - '3306:3306'
    networks:
      - net
    restart: unless-stopped
    environment:
      MARIADB_ROOT_PASSWORD: password
      MARIADB_DATABASE: ssh_management
      MARIADB_USER: server
      MARIADB_PASSWORD: server
    volumes:
      - mysql:/var/lib/mysql
  queuemon:
    image: hibiken/asynqmon
    command: --redis-addr redis:6379 --redis-db 5
    ports:
      - '8000:8080'
    networks:
      - net
    restart: unless-stopped
    depends_on:
      - redis
networks:
  net:
    driver: bridge
    name: ssh_server_net
volumes:
  mysql:
