version: '3.8'

services:
  server:
    build:
      context: .
      dockerfile: ./docker/Dockerfile
      target: development
    command: 'air -c .air.server.toml'
    networks:
      - net
    restart: unless-stopped
    ports:
      - '8080:8080'
      - '6543:6543'
      - '2345:2345'
    depends_on:
      - postgres
      - redis
    volumes:
      - 'gocache:/root/.cache/go-build'
      - 'gomodules_server:/go'
      - './logs:/var/log/ssh_management.yml'
      - './ssh_management.example.yml:/etc/ssh_management/ssh_management.yml'
      - '.:/app'
  queue:
    build:
      context: .
      dockerfile: ./docker/Dockerfile
      target: development
    command: 'air -c .air.queue.toml'
    networks:
      - net
    restart: unless-stopped
    depends_on:
      - server
      - postgres
      - redis
    volumes:
      - 'gocache:/root/.cache/go-build'
      - 'gomodules_queue:/go'
      - './logs:/var/log/ssh_management.yml'
      - './ssh_management.example.yml:/etc/ssh_management/ssh_management.yml'
      - '.:/app'
  redis:
    image: 'redis:6-alpine'
    networks:
      - net
    restart: unless-stopped
    ports:
      - '6379:6379'
  postgres:
    image: postgres:14
    ports:
      - '5432:5432'
    networks:
      - net
    restart: unless-stopped
    environment:
      PGDATA: /var/lib/postgresql/data
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: ssh_management
      POSTGRES_HOST_AUTH_METHOD: scram-sha-256
    volumes:
      - postgres:/var/lib/postgresql/data
    shm_size: 1gb
  queuemon:
    image: hibiken/asynqmon
    command: --redis-addr redis:6379 --redis-db 3
    ports:
      - '8000:8080'
    networks:
      - net
    restart: unless-stopped
    depends_on:
      - redis
  mailhog:
    image: mailhog/mailhog
    ports:
      - '1025:1025'
      - '8025:8025'
    restart: unless-stopped
    networks:
      - net
  client:
    image: malusevd99/ssh-management:client-0.3.0
    ports:
      - '9999:9999'
    environment:
      MASTER_SERVER: server:6543
      SERVER_NAME: 'test_client'
      SERVER_GROUP: 'test_group'
    depends_on:
      - server
    restart: unless-stopped
    networks:
      - net
    volumes:
      - ./logs/client:/var/log/ssh_management.yml
networks:
  net:
    driver: bridge
    name: ssh_server_net
volumes:
  postgres:
  gocache:
  gomodules_server:
  gomodules_queue:
